<div class="grid grid-cols-1 gap-6 px-12 md:px-20 lg:px-44 pt-16 pb-24">
  <p class="font-bold text-2xl md:text-4xl">Industrial Cleanup</p>
  <p class="text-lg md:text-xl">
    In industrial settings, unforeseen spills, leaks, and environmental
    incidents can occur, posing significant challenges. At First Class, we
    understand the importance of a rapid response to minimize the environmental
    impact of such events. Our team is committed to delivering a swift and
    effective response to safeguard your facility and the surrounding
    environment.<br /><br />

    Industrial cleanup involves more than just eliminating spills; it's about
    restoring properties, maintaining regulatory compliance, and providing peace
    of mind to facility owners and operators. Here's how we achieve these
    objectives with efficient, professional care:
  </p>

  <ul class="list-disc text-lg md:text-xl">
    <li>
      <span class="font-semibold">Environmental Assessment:</span> We conduct a
      thorough environmental assessment to determine the extent of contamination
      and potential risks. This assessment informs our cleanup strategy.
    </li>

    <li>
      <span class="font-semibold">Containment and Cleanup:</span>Our experts
      employ specialized equipment and techniques to contain and clean up
      hazardous materials, including chemicals, oil, and other pollutants.
    </li>

    <li>
      <span class="font-semibold">Waste Management:</span>We handle the proper
      disposal of hazardous waste, ensuring full compliance with environmental
      regulations.
    </li>

    <li>
      <span class="font-semibold">Decontamination:</span> Our decontamination
      processes ensure that affected areas are safe for use, minimizing health
      and safety risks for your staff and the environment.
    </li>

    <li>
      <span class="font-semibold">Restoration and Rehabilitation:</span>Beyond
      cleanup, we can also assist with property restoration, repairing any
      damage caused during the incident.
    </li>
  </ul>

  <div
    class="flex lg:grid grid-cols-7 gap-4 items-center text-white bg-gradient-to-r from-[#052D5C] to-[#052D5C] w-full shadow-md rounded-md  md:pl-6">
    <div class="col-span-5 lg:col-span-4 xl:col-span-5 w-full text-center lg:text-left xl:pl-8 py-8 mb-8">
      <p class="font-bold text-xl md:text-3xl">Have Questions? Contact Us</p>
      <p class="pb-8 text-lg md:pr-2 xl:pr-16">
        Don't hesitate to reach out! Our team is ready to assist you with any
        inquiries or concerns
      </p>
      <a class="rounded-md bg-white font-bold text-black px-16 py-2" href="tel:+14014657812">
        Contact Us</a>
    </div>
    <img src="../../assets/industrial.png" class="col-span-3 xl:col-span-2 hidden lg:flex w-100 h-full" alt="" />
  </div>
</div>