
<h1 class="flex justify-center text-xl md:text-2xl lg:text-4xl font-bold">Certified</h1>
<div class="grid md:grid-rows-3 lg:grid-cols-3 gap-4 pt-10 pb-10">
<div class="col-span-1 flex justify-center items-center">
    <img src="/assets/ECYK3523.GIF" class="md:h-[221px] lg:h-[241px]" alt="Certified Remediation Technologist of First Class Restore" />
</div>
<div class="col-span-1 flex justify-center items-center">
    <img src="/assets/IMG_0915.PNG" class="md:h-[121px] lg:h-[151px]" alt="IICRC Certified of First Class Restore" />
</div>
<div class="col-span-1 flex justify-center items-center">
    <img src="/assets/OAJA4748.PNG" class="md:h-[221px] lg:h-[241px]" alt="Certified "/>
</div>
</div>