<h1 class="flex justify-center text-xl md:text-2xl lg:text-4xl font-bold">
  Ceretifications
</h1>
<div
  class="grid md:grid-rows-1 lg:grid-cols-3 xl:grid-cols-3 gap-4 md:gap-12 pt-10 pb-16"
>
  <div class="col-span-1 flex justify-center items-center">
    <img
      src="/assets/ECYK3523.GIF"
      class="h-[121px] md:h-[221px] lg:h-[241px]"
      alt="Certified Remediation Technologist of First Class Restore"
    />
  </div>
  <div class="col-span-1 flex justify-center items-center">
    <img
      src="/assets/IMG_0915.PNG"
      class="h-[121px]"
      alt="IICRC Certified of First Class Restore"
    />
  </div>
  <div class="col-span-1 flex justify-center items-center">
    <img
      src="/assets/OAJA4748.PNG"
      class="h-[121px] md:h-[221px] lg:h-[241px]"
      alt="Certified "
    />
  </div>
</div>
