<div class="py-8 px-6 bg-white rounded-lg text-center">
  <fa-icon class="text-[#F58C77] text-3xl lg:text-6xl" [icon]="icon"></fa-icon>
  <h2 class="text-xl lg:text-2xl font-bold pt-4 pb-2">{{ title }}</h2>
  <p class="text-md lg:text-lg">
    {{ paragraph }}
  </p>
  <div class="text-center pt-6">
    <a
      href="/services/{{ link }}"
      class="w-10/12 rounded-md inline-block p-2 bg-[#F58C77] hover:bg-[#EE353B] text-white font-semibold rounded-sm mt-4"
      >Read More</a
    >
  </div>
</div>
