<div class="w-full bg-gray-200/30 pt-4 pb-4">
  <div class="flex justify-center">
    <h1 class="text-[45px] font-bold mt-16">Services</h1>
  </div>
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-9 gap-8 mt-16">
      <div class="col-span-3 p-10 bg-white rounded-lg">
        <div class="text-center">
          <fa-icon
            class="text-[#ee353b] text-[70px]"
            [icon]="faDroplet"
          ></fa-icon>
        </div>
        <h2 class="text-[35px] font-bold text-center">Lorem Ipsum</h2>
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        <div class="text-center">
          <a
            href="#"
            class="inline-block p-2 bg-[#ee353b] text-white rounded-sm mt-4"
            >Read More</a
          >
        </div>
      </div>
      <div class="col-span-3 p-10 bg-white rounded-lg">
        <div class="text-center">
          <fa-icon class="text-[#ee353b] text-[70px]" [icon]="faFire"></fa-icon>
        </div>
        <h2 class="text-[35px] font-bold text-center">Lorem Ipsum</h2>
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        <div class="text-center">
          <a
            href="#"
            class="inline-block p-2 bg-[#ee353b] text-white rounded-sm mt-4"
            >Read More</a
          >
        </div>
      </div>
      <div class="col-span-3 p-10 bg-white rounded-lg">
        <div class="text-center">
          <fa-icon
            class="text-[#ee353b] text-[70px]"
            [icon]="faBuilding"
          ></fa-icon>
        </div>
        <h2 class="text-[35px] font-bold text-center">Lorem Ipsum</h2>
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        <div class="text-center">
          <a
            href="#"
            class="inline-block p-2 bg-[#ee353b] text-white rounded-sm mt-4"
            >Read More</a
          >
        </div>
      </div>
      <div class="col-span-3 p-10 bg-white rounded-lg">
        <div class="text-center">
          <fa-icon
            class="text-[#ee353b] text-[70px]"
            [icon]="faBuilding"
          ></fa-icon>
        </div>
        <h2 class="text-[35px] font-bold text-center">Lorem Ipsum</h2>
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        <div class="text-center">
          <a
            href="#"
            class="inline-block p-2 bg-[#ee353b] text-white rounded-sm mt-4"
            >Read More</a
          >
        </div>
      </div>
      <div class="col-span-3 p-10 bg-white rounded-lg">
        <div class="text-center">
          <fa-icon
            class="text-[#ee353b] text-[70px]"
            [icon]="faBuilding"
          ></fa-icon>
        </div>
        <h2 class="text-[35px] font-bold text-center">Lorem Ipsum</h2>
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        <div class="text-center">
          <a
            href="#"
            class="inline-block p-2 bg-[#ee353b] text-white rounded-sm mt-4"
            >Read More</a
          >
        </div>
      </div>
      <div class="col-span-3 p-10 bg-white rounded-lg">
        <div class="text-center">
          <fa-icon
            class="text-[#ee353b] text-[70px]"
            [icon]="faBuilding"
          ></fa-icon>
        </div>
        <h2 class="text-[35px] font-bold text-center">Lorem Ipsum</h2>
        <p class="text-center">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged.
        </p>
        <div class="text-center">
          <a
            href="#"
            class="inline-block p-2 bg-[#ee353b] text-white rounded-sm mt-4"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
