<div class="w-full bg-color py-24">
  <div class="flex justify-center">
    <h1 class="text-xl md:text-4xl font-bold">Services</h1>
  </div>
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-18 lg:gap-32 mt-16">
      <app-service-card
        (icon)="(faDroplet)"
        title="Water Damage"
        paragraph="Rapid response to minimize water's impact, restoring properties and
      peace of mind with efficient, professional care."
        link="water-damage"
        class="col-span-12 md:col-span-6 lg:col-span-4"
      ></app-service-card>

      <app-service-card
        (icon)="(faDroplet)"
        title="Fire Restoration"
        paragraph="Expert restoration services rebuild fire-damaged spaces, ensuring safety, comfort, and a fresh start after disasters."
        class="col-span-12 md:col-span-6 lg:col-span-4"
      ></app-service-card>

      <app-service-card
        (icon)="(faDroplet)"
        title="Industrial Cleanup"
        paragraph="Maintain safe, compliant, and efficient workspaces with our industrial-grade cleanup solutions, ensuring a spotless and secure environment."
        link="water-damage"
        class="col-span-12 md:col-span-6 lg:col-span-4"
      ></app-service-card>

      <app-service-card
        (icon)="(faDroplet)"
        title="Odor Control"
        paragraph="Eliminate stubborn odors and enhance indoor air quality, creating pleasant, breathable environments with our effective solutions."
        link="water-damage"
        class="col-span-12 md:col-span-6 lg:col-span-4"
      ></app-service-card>

      <app-service-card
        (icon)="(faDroplet)"
        title="Mold Remediation"
        paragraph="Protect health and property, rely on our specialized mold remediation for a mold-free, safe environment."
        link="water-damage"
        class="col-span-12 md:col-span-6 lg:col-span-4"
      ></app-service-card>

      <app-service-card
        (icon)="(faDroplet)"
        title="Bio-Recovery"
        paragraph="Experts in safe, thorough biohazard cleanup, ensuring health and safety in hazardous situations."
        link="water-damage"
        class="col-span-12 md:col-span-6 lg:col-span-4"
      ></app-service-card>
    </div>
  </div>
</div>
