<div
  class="grid grid-cols-1 gap-6 px-12 md:px-20 lg:px-32 xl:px-44 pt-16 pb-24"
>
  <p class="font-bold text-2xl md:text-4xl">
    Bio-Recovery <span class="text-lg md:text-xl">(Biohazard Specialists)</span>
  </p>
  <p class="text-lg md:text-xl">
    Biohazard situations can pose severe risks to health and safety, requiring
    the expertise of trained professionals to safely and thoroughly clean and
    decontaminate affected areas. At First Class, we are your trusted experts in
    biohazard cleanup, dedicated to safeguarding health and safety in the face
    of hazardous conditions.<br /><br />

    We are dedicated to minimizing risks, preventing the spread of contaminants,
    and restoring peace of mind in the face of biohazard challenges<br /><br />

    Biohazard materials, such as blood, bodily fluids, chemicals, and other
    contaminants, demand specialized handling and disposal to prevent the spread
    of infections and diseases. Here's how our biohazard cleanup services
    achieve this goal:
  </p>

  <ul class="list-disc text-lg md:text-xl">
    <li>
      <span class="font-semibold">Safety Protocols:</span>We follow strict
      safety protocols and use personal protective equipment to ensure the
      safety of our team and prevent the spread of contaminants.
    </li>

    <li>
      <span class="font-semibold">Proper Cleanup and Decontamination:</span>We
      employ specialized cleaning agents and techniques to thoroughly clean and
      decontaminate affected areas, including the proper disposal of biohazard
      waste.
    </li>
  </ul>

  <div
    class="flex lg:grid grid-cols-5 gap-4 items-center text-white bg-gradient-to-r from-[#052D5C] to-[#052D5C] w-full shadow-md rounded-md pl-4 md:pl-6"
  >
    <div
      class="col-span-5 lg:col-span-2 w-full text-center lg:text-left xl:pl-8 py-8 mb-8"
    >
      <p class="font-bold text-xl md:text-3xl">Have Questions? Contact Us</p>
      <p class="pb-8 text-lg md:pr-2 xl:pr-16">
        Don't hesitate to reach out! Our team is ready to assist you with any
        inquiries or concerns
      </p>

      <a
        class="rounded-md bg-white font-bold text-black px-16 py-2"
        href="tel:+14014657812"
      >
        Contact Us</a
      >
    </div>
    <img
      src="../../assets/IMG_0918.JPG"
      class="col-span-3 hidden lg:flex w-100 h-full"
      alt=""
    />
  </div>
</div>
