<div class="grid grid-cols-1 gap-6 px-12 md:px-20 lg:px-44 pt-16 pb-24">
  <p class="font-bold text-2xl md:text-4xl">Odor Control</p>
  <p class="text-lg md:text-xl">
    Unpleasant odors can impact the comfort and ambiance of any space. At First
    Class, we specialize in effective odor control solutions that go beyond
    masking odors. Our goal is to eliminate stubborn odors and enhance indoor
    air quality, creating pleasant, breathable environments for your home or
    business.<br /><br />

    Effective odor control is more than just about creating a pleasant
    atmosphere. It's about ensuring the well-being and satisfaction of occupants
    and visitors. Here's how our services achieve this goal:
  </p>

  <ul class="list-disc text-lg md:text-xl">
    <li>
      <span class="font-semibold">Comprehensive Assessment:</span> Our trained
      professionals begin by conducting a comprehensive assessment to identify
      the source and nature of the odor problem.
    </li>

    <li>
      <span class="font-semibold">Customized Solutions: </span> We tailor our
      odor control solutions to address the specific type of odor, whether it's
      from pets, smoke, mold, cooking, or other sources.
    </li>

    <li>
      <span class="font-semibold">Advanced Techniques:</span> We utilize
      state-of-the-art techniques and equipment to neutralize odors at the
      molecular level, effectively eliminating them rather than merely masking
      them.
    </li>

    <li>
      <span class="font-semibold">Odor Removal:</span>Our solutions are designed
      to remove odors from the source, including cleaning and sanitizing
      affected areas or materials, such as carpets, upholstery, and ventilation
      systems.
    </li>

    <li>
      <span class="font-semibold">Air Purification:</span>We offer air
      purification solutions that not only eliminate existing odors but also
      help maintain a fresh indoor environment by capturing and neutralizing
      airborne particles and contaminants.
    </li>

    <li>
      <span class="font-semibold">Preventive Measures:</span>We provide
      recommendations for preventive measures to minimize the recurrence of
      odors, such as proper ventilation or humidity control.
    </li>
  </ul>

  <div
    class="md:flex justify-between items-center text-white bg-gradient-to-r from-[#052D5C] to-[#5E94CE] w-full shadow-md rounded-md px-4 md:px-6 pt-4"
  >
    <div class="w-full text-center lg:text-left lg:pl-12 xl:pl-20 pt-2 mb-8">
      <p class="font-bold text-xl md:text-2xl lg:text-3xl">
        Have Questions? Contact Us
      </p>
      <p class="pb-8 text-lg md:text-xl md:pr-2 xl:pr-16">
        Don't hesitate to reach out! Our team is ready to assist you with any
        inquiries or concerns
      </p>

      <button class="rounded-md bg-white font-bold text-black px-16 py-2">
        Contact Us
      </button>
    </div>
    <img
      src="../../assets/cleaning-ad.png"
      class="hidden lg:flex  h-full lg:h-62"
      alt=""
    />
  </div>
</div>
