<div class="grid grid-cols-1 gap-6 px-12 md:px-20 lg:px-44 pt-16 pb-24">
  <p class="font-bold text-2xl md:text-4xl">Water Damage Restoration</p>
  <p class="text-lg md:text-xl">
    Water damage can strike suddenly, causing significant stress and disruption.
    At First Class, we understand the importance of swift action. Our team is
    committed to delivering a rapid response to minimize the impact of water
    damage on your property.<br /><br />

    Water damage can cause significant disruption on homes and businesses alike,
    affecting structural integrity and personal belongings. Our primary goal is
    to restore not only your property but also your peace of mind. We have the
    expertise and experience to efficiently mitigate the damage and bring your
    space back to its pre-loss condition.<br /><br />

    Our water damage restoration services are marked by efficiency and
    professionalism. Here's how we achieve that:
  </p>

  <ul class="list-disc text-lg md:text-xl">
    <li>
      <span class="font-semibold">Assessment and Inspection:</span> We conduct a
      thorough assessment and inspection to understand the extent of the damage.
      This helps us formulate a tailored restoration plan.
    </li>

    <li>
      <span class="font-semibold">Water Extraction:</span> Removing excess water
      is the first step. Our advanced equipment ensures efficient water
      extraction to prevent further damage.
    </li>

    <li>
      <span class="font-semibold">Drying and Dehumidification:</span> We employ
      industrial-grade drying and dehumidification equipment to eliminate
      moisture from affected areas, preventing mold growth.
    </li>

    <li>
      <span class="font-semibold">Damage Cleanup:</span> Our team cleans and
      sanitizes affected areas, including personal belongings, to ensure a safe
      and healthy environment.
    </li>

    <li>
      <span class="font-semibold">Final Inspection:</span> Before considering
      our job complete, we conduct a final inspection to ensure that your
      property is fully restored, and you are satisfied with the results.
    </li>
  </ul>

  <div
    class="md:flex justify-between items-center text-white bg-gradient-to-r from-[#052D5C] to-[#5E94CE] w-full shadow-md rounded-md px-4 md:px-6 pt-4"
  >
    <div class="w-full text-center lg:text-left lg:pl-12 xl:pl-20 pt-2 mb-8">
      <p class="font-bold text-xl md:text-2xl lg:text-3xl">
        Have Questions? Contact Us
      </p>
      <p class="pb-8 text-lg md:text-xl md:pr-2 xl:pr-16">
        Don't hesitate to reach out! Our team is ready to assist you with any
        inquiries or concerns
      </p>

      <a
        class="rounded-md bg-white font-bold text-black px-16 py-2"
        href="tel:+14014657812"
      >
      Contact Us</a
      >
      <!-- <button class="rounded-md bg-white font-bold text-black px-16 py-2">
        Contact Us
      </button> -->
    </div>
    <img
      src="../../assets/cleaning-ad.png"
      class="hidden lg:flex h-full lg:h-62"
      alt=""
    />
  </div>
</div>
