<div class="grid grid-cols-1 gap-6 px-12 md:px-20 lg:px-44 pt-16 pb-24">
  <p class="font-bold text-2xl md:text-4xl">Fire Restoration</p>
  <p class="text-lg md:text-xl">
    Fires can be devastating, leaving behind a trail of destruction and despair.
    At First Class, we specialize in expert fire restoration services that go
    beyond rebuilding spaces. We are dedicated to ensuring safety, comfort, and
    a fresh start for our clients after the trauma of a fire disaster.<br /><br />

    Our fire restoration process is designed to address every aspect of
    recovery, from assessing the initial damage to the final touches of
    rebuilding. Here's how we achieve this with expert care:
  </p>

  <ul class="list-disc text-lg md:text-xl">
    <li>
      <span class="font-semibold"> Assessment and Inspection:</span> Our
      certified fire restoration experts conduct a thorough assessment to
      determine the extent of fire, smoke, and water damage. This assessment
      guides our restoration plan.
    </li>

    <li>
      <span class="font-semibold"> Secure and Stabilize: </span> We employ
      specialized techniques and equipment to remove smoke residues and soot
      from walls, ceilings, and surfaces.
    </li>

    <li>
      <span class="font-semibold"> Smoke and Soot Removal:</span> We employ
      industrial-grade drying and dehumidification equipment to eliminate
      moisture from affected areas, preventing mold growth.
    </li>

    <li>
      <span class="font-semibold">Cleaning and Sanitization:</span>We clean and
      sanitize all affected areas, including personal belongings, to ensure a
      safe and healthy environment.
    </li>
  </ul>

  <div
    class="flex lg:grid grid-cols-5 gap-4 items-center text-white bg-gradient-to-r from-[#052D5C] to-[#052D5C] w-full shadow-md rounded-md pl-4 md:pl-6"
  >
    <div
      class="col-span-5 lg:col-span-2 w-full text-center lg:text-left xl:pl-8 py-8 mb-8"
    >
      <p class="font-bold text-xl md:text-3xl">Have Questions? Contact Us</p>
      <p class="pb-8 text-lg md:pr-2 xl:pr-16">
        Don't hesitate to reach out! Our team is ready to assist you with any
        inquiries or concerns
      </p>

      <a
        class="rounded-md bg-white font-bold text-black px-16 py-2"
        href="tel:+14014657812"
      >
        Contact Us</a
      >
    </div>
    <img
      src="../../assets/IMG_0918.JPG"
      class="col-span-3 hidden lg:flex w-100 h-full"
      alt=""
    />
  </div>
</div>
