<div class="grid grid-cols-1 gap-6 px-12 md:px-20 lg:px-44 pt-16 pb-24">
  <p class="font-bold text-2xl md:text-4xl">Fire Restoration</p>
  <p class="text-lg md:text-xl">
    Fires can be devastating, leaving behind a trail of destruction and despair.
    At First Class, we specialize in expert fire restoration services that go
    beyond rebuilding spaces. We are dedicated to ensuring safety, comfort, and
    a fresh start for our clients after the trauma of a fire disaster.<br /><br />

    Our fire restoration process is designed to address every aspect of
    recovery, from assessing the initial damage to the final touches of
    rebuilding. Here's how we achieve this with expert care:
  </p>

  <ul class="list-disc text-lg md:text-xl">
    <li>
      <span class="font-semibold"> Assessment and Inspection:</span> Our
      certified fire restoration experts conduct a thorough assessment to
      determine the extent of fire, smoke, and water damage. This assessment
      guides our restoration plan.
    </li>

    <li>
      <span class="font-semibold"> Secure and Stabilize: </span> We employ
      specialized techniques and equipment to remove smoke residues and soot
      from walls, ceilings, and surfaces.
    </li>

    <li>
      <span class="font-semibold"> Smoke and Soot Removal:</span> We employ
      industrial-grade drying and dehumidification equipment to eliminate
      moisture from affected areas, preventing mold growth.
    </li>

    <li>
      <span class="font-semibold">Cleaning and Sanitization:</span>We clean and
      sanitize all affected areas, including personal belongings, to ensure a
      safe and healthy environment.
    </li>
  </ul>
</div>
