<div class="bg-cover bg-center hero">
  <section class=" relative h-screen px-6">
    <div class="absolute inset-0 bg-black bg-opacity-50">
      <!-- Contenedor del texto -->
      <div class="container mx-auto flex items-center justify-center h-full px-6">
        <div class="text-center">
          <h1 class="text-white text-7xl font-bold">Reviving Yout World</h1>
          <h2 class="text-white text-7xl mt-4">
            One <span class="text-[#ee353b]">Restoring </span>at a Time
          </h2>
          <p class="text-white text-lg mt-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
