<div class="bg-cover bg-center hero">
  <section class="relative h-full md:h-screen">
    <!-- Contenedor del texto -->
    <div
      class="container mx-auto flex items-center text-center justify-center py-32 md:p-0 h-full"
    >
      <div class="px-8 md:px-24 lg:px-48">
        <p class="text-white text-2xl md:text-4xl lg:text-5xl font-bold pb-4">
          Reviving Yout World <br />One
          <span class="text-[#ee353b]">Restoring </span>at a Time
        </p>
        <p class="text-white text-md md:text-xl lg:text-2xl mt-4">
          When life throws unexpected challenges your way, we're here to bring
          back the safety, comfort, and beauty of your spaces. With our
          unwavering commitment to excellence, we turn chaos into tranquility,
          damage into renewal.
        </p>
      </div>
    </div>
  </section>
</div>
<div
  class="grid grid-cols-12 text-center lg:text-left place-items-center py-12 lg:py-34 gap-auto"
>
  <!-- Sección de texto con 8 columnas -->
  <div class="col-span-12 lg:col-span-8 px-12 lg:px-34">
    <h1 class="text-2xl lg:text-5xl font-bold mb-6">
      Your <span class="blue-text">Cleanup</span> Partners
    </h1>
    <p class="text-lg lg:text-2xl">
      Our friendly and skilled professionals are here, ready to roll up their
      sleeves and get to work. With a smile on their faces and the right tools
      in hand, they'll have your property looking like new in no time.
    </p>
  </div>

  <!-- Sección de imagen con 4 columnas -->
  <div class="col-span-12 lg:col-span-4">
    <img src="../../assets/cleaning man.png" alt="Imagen de ejemplo" />
  </div>
</div>
<app-services></app-services>

<div class="hidden md:grid grid-cols-12 gap-auto">
  <!-- Sección de imagen con 4 columnas -->
  <div class="col-span-12 md:col-span-4">
    <img
      src="../../assets/full-shot-man-disinfecting.png"
      alt="Imagen de ejemplo"
      class="w-full h-full object-cover"
    />
  </div>
  <!-- Sección de texto con 8 columnas -->
  <div class="col-span-12 md:col-span-8 px-12 lg:px-36 md:py-24">
    <h1 class="text-2xl lg:text-3xl font-bold mb-4">
      About <span class="blue-text">Us</span>
    </h1>
    <p class="text-md lg:text-lg">
      This company is dedicated to delivering top-notch services, as reflected
      in our name. We were founded by Kilian Rodriguez and John Tavarez, a
      family-owned business with over 25 years of combined experience. Kilian
      Rodriguez has extensive experience in the construction industry, with a
      focus on multi-family construction. John Tavarez has nearly 20 years of
      experience in the restoration business and has provided services across
      the United States, including disaster response after hurricanes.<br /><br />
      Our commitment to excellence and our wealth of experience make us your
      trusted partner for all your restoration and cleaning needs.
    </p>
  </div>
</div>

<div class="block md:hidden bg-cover-about bg-center text-white hero">
  <section class="relative">
    <!-- Contenedor del texto -->
    <div
      class="container mx-auto flex items-center text-center justify-center h-full py-32"
    >
      <div class="px-8 md:px-12 lg:px-34">
        <h1 class="text-2xl lg:text-6xl font-bold mb-4">
          About <span class="blue-text">Us</span>
        </h1>
        <p class="text-md lg:text-2xl">
          This company is dedicated to delivering top-notch services, as
          reflected in our name. We were founded by Kilian Rodriguez and John
          Tavarez, a family-owned business with over 25 years of combined
          experience. Kilian Rodriguez has extensive experience in the
          construction industry, with a focus on multi-family construction. John
          Tavarez has nearly 20 years of experience in the restoration business
          and has provided services across the United States, including disaster
          response after hurricanes.<br /><br />
          Our commitment to excellence and our wealth of experience make us your
          trusted partner for all your restoration and cleaning needs.
        </p>
      </div>
    </div>
  </section>
</div>

<div
  class="md:flex justify-between items-center text-white bg-gradient-to-r from-[#052D5C] to-[#5E94CE] w-full shadow-md   px-4 md:px-6 pt-4"
>
  <div class="w-full text-center lg:text-left lg:pl-12 xl:pl-20 pt-2 pb-10">
    <p class="font-bold text-xl md:text-2xl lg:text-3xl">
      Have Questions? Contact Us
    </p>
    <p class="pb-8 text-lg md:text-xl md:pr-2 xl:pr-16">
      Don't hesitate to reach out! Our team is ready to assist you with any
      inquiries or concerns
    </p>

    <button class="rounded-md bg-white font-bold text-black px-16 py-2">
      Contact Us
    </button>
  </div>
  <img
    src="../../assets/cleaning-ad.png"
    class="hidden lg:flex h-full lg:h-62"
    alt=""
  />
</div>
