<div class="grid grid-cols-1 gap-6 px-12 md:px-20 lg:px-44 pt-16 pb-24">
  <p class="font-bold text-2xl md:text-4xl">Mold Remediation</p>
  <p class="text-lg md:text-xl">
    Mold growth can be a serious concern for both property owners and occupants.
    At First Class, we understand the importance of a rapid response to minimize
    the impact of mold, not only on your property but also on the health and
    well-being of those who reside or work there. Our team is dedicated to
    providing swift and effective mold remediation to restore your property and
    your peace of mind.<br /><br />

    Mold infestations can be insidious, often hiding in walls, ceilings, and
    crawl spaces. Our mold remediation services are designed to not only
    eliminate visible mold but also address the underlying causes, ensuring
    comprehensive and long-lasting solutions.<br /><br />

    Here's how we achieve this with efficient, professional care:
  </p>

  <ul class="list-disc text-lg md:text-xl">
    <li>
      <span class="font-semibold">Assessment and Inspection:</span> Our
      certified mold remediation experts conduct a thorough assessment to
      identify the extent of the mold problem and the underlying moisture
      sources that fuel its growth.
    </li>

    <li>
      <span class="font-semibold">Containment: </span>We establish containment
      barriers to prevent the spread of mold spores during the removal process,
      safeguarding unaffected areas.
    </li>

    <li>
      <span class="font-semibold">Mold Removal: </span> Our team employs
      industry-leading techniques and equipment to safely and effectively remove
      mold from affected surfaces, including thorough cleaning and disposal of
      contaminated materials.
    </li>

    <li>
      <span class="font-semibold">Moisture Control:</span>Addressing the root
      cause is key to preventing future mold growth. We identify and rectify
      moisture issues, such as leaks or high humidity, to ensure a mold-free
      environment.
    </li>

    <li>
      <span class="font-semibold">Air Quality Testing: </span>We conduct air
      quality testing post-remediation to ensure that mold spore levels are
      within acceptable limits, providing peace of mind to property occupants.
    </li>

    <li>
      <span class="font-semibold">Preventive Measures:</span>We offer
      recommendations for preventive measures to minimize the risk of future
      mold problems, such as proper ventilation and moisture control.
    </li>
  </ul>

  <div
    class="md:flex justify-between items-center text-white bg-gradient-to-r from-[#052D5C] to-[#5E94CE] w-full shadow-md rounded-md px-4 md:px-6 pt-4"
  >
    <div class="w-full text-center lg:text-left lg:pl-12 xl:pl-20 pt-2 mb-8">
      <p class="font-bold text-xl md:text-2xl lg:text-3xl">
        Have Questions? Contact Us
      </p>
      <p class="pb-8 text-lg md:text-xl md:pr-2 xl:pr-16">
        Don't hesitate to reach out! Our team is ready to assist you with any
        inquiries or concerns
      </p>

      <button class="rounded-md bg-white font-bold text-black px-16 py-2">
        Contact Us
      </button>
    </div>
    <img
      src="../../assets/cleaning-ad.png"
      class="hidden lg:flex  h-full lg:h-62"
      alt=""
    />
  </div>
</div>
