<footer
  class="grid grid-cols-1 md:grid-cols-5 place-items-center px-12 pt-8 pb-16 md:gap-20 bg-[#F2F2F2] text-center md:text-left"
>
  <div class="col-span-1 w-24 md:w-50 mb-6 md:mb-0">
    <img src="../../../assets/first-class-logo.png" alt="" srcset="" />
    <span class="text-[12px]"> Copyright {{ fullYear }} </span>
  </div>

  <div
    class="col-span-1 md:col-span-3 grid grid-cols-2 gap-auto mb-6 md:mb-0 h-full w-full md:w-62"
  >
    <p class="text-[#1C5DA9] font-bold text-2xl col-span-2">Services</p>
    <div class="col-span-2 sm:col-span-1 mb-2 sm:mb-0">
      <p
        routerLink="services/water-damage"
        class="md:text-sm xl:text-xl mb-2 hover:text-[#EE353B] hover:cursor-pointer"
      >
        Water Damage
      </p>
      <p
        routerLink="services/fire-restoration"
        class="md:text-sm xl:text-xl mb-2 hover:text-[#EE353B] hover:cursor-pointer"
      >
        Fire Restoration
      </p>
      <p
        routerLink="services/industrial-cleanup"
        class="md:text-sm xl:text-xl hover:text-[#EE353B] hover:cursor-pointer"
      >
        Industrial Cleanup
      </p>
    </div>
    <div class="col-span-2 sm:col-span-1">
      <p
        routerLink="services/odor-control"
        class="md:text-sm xl:text-xl mb-2 hover:text-[#EE353B] hover:cursor-pointer"
      >
        Odor Control
      </p>
      <p
        routerLink="services/mold-remediation"
        class="md:text-sm xl:text-xl mb-2 hover:text-[#EE353B] hover:cursor-pointer"
      >
        Mold Remediation
      </p>
      <p
        routerLink="services/bio-recovery"
        class="md:text-sm xl:text-xl hover:text-[#EE353B] hover:cursor-pointer"
      >
        Bio-Recovery
      </p>
    </div>
  </div>

  <div class="grid col-span-1 md:col-span-1 gap-auto h-full">
    <p class="text-[#1C5DA9] font-bold text-2xl">Contacs</p>
    <a class="md:text-sm xl:text-xl" href="tel:+14014657812">+1 (401) 465-7812</a>
    <p class="md:text-sm xl:text-xl">info@firstclassrestore.com</p>
  </div>
</footer>
